body {
	margin: 0px;
	padding: 0px;
	background-color: #ccffff;
	color: #111111;
	font-family: "Lucida Grande", "MS Sans Serif", "Lucida Sans Unicode", Verdana, Geneva, Lucida, Arial, Helvetica, Sans-Serif;
}

a:link {
	color: #333366;
}

a:visited {
	color: #b4445c;
}

a:active {
	color: #ff0000;
}

a:hover {
	color: #a37c93;
}

div#sideBar {
	float: right;
	width: 161px;
	margin: 0px;
	padding: 0px 10px 14px 10px;
	text-align: left;
}

#sideBar ul {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	text-align: left;
}

#sideBar li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	text-align: left;
}

#sideBar ul a {
	padding: 2px;
	margin: 1px;
	width: 100%;
	color: #999999;
}

#sideBar ul a:link {
	color: #333366;
}

#sideBar ul a:visited {
	color: #333366;
}

#sideBar ul a:active {
	color: #ff0000;
}

#sideBar ul a:hover {
	color: #e37c93;
	text-decoration: none;
}

div#main {
	width: auto;
	margin-right: 170px;
	padding: 20px 3% 10px 5%;
	background-color: #edffff;
	text-align: justify;
}

div#main h3 {
	color: hsl(191, 100%, 25%);
}

h1, h2, h3, h4 {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

h1 {
	padding-left: 3%;
	padding-top: 20px;
	border-bottom: dotted 1px #000000;
	border-top: solid 6px#D3EAF2;
	color: #16A3C2;
	background-color: #eeeeee;
	font: bold 340%/0.8em "Helvetica Neue Black Condensed", "Arial Black", Arial, Sans-Serif;
	text-align: left;
}

h2 {
	color: hsl(191, 100%, 35%);
	font: normal 240% "Helvetica Neue Black Condensed", "Arial Black", Arial,Sans-Serif;
}

h3 {
	color: hsl(191, 100%, 15%);
}

h4 {
	color: #000000;
	font-weight: normal;
	font-family: "Helvetica Neue Black Condensed", "Arial Black", Arial, Sans-Serif;
	text-align: left;
}

#description {
	padding: 0px;
	margin: 0px;
	color: #ac4aa0;
	background-color: transparent;
	font-weight: lighter;
	text-align: center;
}

#header {
	padding: 7px 0px 30px 0px;
	margin: 23px 0px 0px 0px;
	border-top: 1px solid #eeeeee;
	background-color: #ffffff;
	color: white;
}

div#centre {
	text-align: center;
}

.links {
	padding-left: 46%;
}